.order-icon-container{
    width: 45px;
    height: 45px;
    display:flex;
    align-content: center;
    justify-content: center;
    position: relative;
    // cursor: pointer;


    .foodbag{
        width: 24px;
        height: 24px;
    }

    .item-count{
        display:flex;
        position: absolute;
        bottom: 11px;
        font-size: 13px;
    
    
}

    

    
}
