.checkoutitem-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 20px 0;
   

    .image-container{
        width:100px;
        height: 100px;


    }

    .dish-content{
        width: 20%;
        // flex-wrap: wrap;
    }

}

