.checkoutitem-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px 20px 0;
    margin: auto;
   
   

    .image-container{
        width:100px;
        height: 100px;

    }

    .dish-content{
        width: 50%;
        text-align: center;
        font-weight: 300;
        // flex-wrap: wrap;
    }

    .flex-item{
        display:inline-flex;
        width:15%;
        align-content: center;
        justify-content: center;
       
    }
    
    .arrow {
        width: 20px;      
        margin:auto;
        
    }
}

